body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #3498db;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
    
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 28px;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #f39c12;
    /* Cambia el color al pasar el ratón */
}

#main {
    margin-top: 6%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer{
    margin-top: auto;
}
#numeroCelular,
#mensaje,
#card{
    border-color: #50e9c8dc;
}